@page "/dogs/dogOverview/{dogID:guid}"
@using Blazored.Modal
@using Blazored.Modal.Services
@using CanineCheckup.Components.Modals
@using CanineCheckup.ViewModels.Dog
@using System.Reflection.Metadata
@inject DogOverviewViewModel m_DogOverviewViewModel;
@inject IModalService m_Model;
@inject NavigationManager m_Navigation;

<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <div class="form-group">
                <button @onclick="GoBack"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4>Name</h4>
                <label>@m_DogOverviewViewModel.Dog.Name</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4>Sex</h4>
                <label>@m_DogOverviewViewModel.Dog.Sex</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4>Date of Birth</h4>
                <label>@m_DogOverviewViewModel.Dog.DateOfBirth</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4>Breed</h4>
                <label>@m_DogOverviewViewModel.Dog.Breed</label>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <div class="form-group">
                <button @onclick="@this.ConfirmDelete(this.m_DogOverviewViewModel.Dog.Name)"
                        type="button"
                        class="btn btn-danger btn-sm">
                    Delete Dog
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnDeleteConfirm { get; set; }

    [Parameter]
    public Guid dogID { get; set; }

    private void GoBack()
        => this.m_Navigation.NavigateTo("/dogs");

    protected override async Task OnInitializedAsync()
        => await m_DogOverviewViewModel.OnInitialised(dogID);

    private async Task ConfirmDelete(string dogName)
    {
        var parameters = new ModalParameters();
        parameters.Add("ConfirmAction", EventCallback.Factory.Create(this, OnDeleteConfirm));
        // await this.m_Model.Show<AddDogModal>("Add a Dog");
    }

    private void RemoveDog()
    {
        this.m_DogOverviewViewModel.RemoveDog(this.dogID);
        this.GoBack();
    }

}
